:root {
    --spacing:0.6rem;
    --typography-spacing-vertical: 0.1rem;
}
h1, h2, h3, h4 {
    margin-bottom: 0.4rem;
}
body {
    font-family: 'JetBrains Mono', monospace;
}
.header {
    background-color: #040633;
    color:#fff;
    padding:0;
    margin-bottom: 1rem;
}
#headerLinks {
    text-align: right;
    padding: 2rem 1rem;
}
#headerLinks a {
    color:#fff;
}
#logo a {
    text-decoration: none;
    color:#fff;
}

.stocks_table img {
    max-width: 34px;
    max-height: 34px;
    padding-left: 4px;
}

.paging {
    text-align: center;
}

.none {
    display: none;
}

.copy {
    content:' [copy]'
}

article {
    margin: 1rem 0rem;
    padding: 1rem 1rem;
}
#main {
    padding-top: 0;
}
#graphInfo, #gsheetInfo {
    background-image: url('../img/The-Graph-Logo.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 70px;
    background-size: 50px;
}
#gsheetInfo {
    background-image: url('../img/gsheet.png');
}

#backBtn {
    background-image: var(--icon-chevron);
    background-position: center left .75rem;
    background-size: 1rem auto;
    background-repeat: no-repeat;
    margin:1rem 2rem 1rem 0rem;
    padding-left: 3rem;
    transform: rotate(90deg);

}
#breadcrumb > nav > ul > li {
    padding-right:1px
}
#breadcrumb > nav > ul > li:after {
    padding-left:6px;
    content: '/'
}
#breadcrumb > nav > ul > li.no_crumb:after {
    content: '';
}
#logo > .grid {
    grid-template-columns: 1fr 3fr;
}
.logo-text {
    margin-top:1rem;
}
.logo-text em {
    font-size:0.7rem;
}
.symbolInfo {
    grid-template-columns: 1fr 2fr;
}

.green {
    color:green;
}
.red {
    color:red;
}
#main > div > article {
    position: relative;
}
#modal > article > p {
    position: relative;
}
#modal > article > header {
    padding-bottom: 7px;
    padding-top: 25px;
    margin-bottom: 9px;
}
.graphQL {
    position: absolute;
    right: 13px;
    top: 11px;
}
#copyGraphQL {
    position: absolute;
    top:70px;
    right:40px;
}
.chart {
    background-color: #fff;
}

@media (max-width: 800px) {
    #headerLinks {
        display: none;
    }
}